extends layout
block content
 <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
 <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">☰</button>
 <a class="navbar-brand" href="#">Shopicruit</a>
 <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
 <ul class="nav navbar-nav pull-right">
 <li class="nav-item active">
 <a class="nav-link">Home <span class="sr-only">Home</span></a>
 </li>
 <li class="nav-item">
 <a class="nav-link">Features</a>
 </li>
 <li class="nav-item">
 <a class="nav-link">About</a>
 </li>
 </ul>
 </div>
 </nav>
        
 <!--/col-->

 <div class="col-md-12 main">
 <h1 class="display-3 hidden-xs-down">Shopicruit dashboard!</h1>
 <p class="lead">Check out your product sales below</p>

 <!-- Graph HTML -->
 <div id="graph-wrapper">
 <div class="graph-info">
 <a href="javascript:void(0)" class="visitors">Visitors</a>
 <a href="javascript:void(0)" class="returning">Returning Visitors</a>
 <a href="#" id="bars"><span></span></a>
 <a href="#" id="lines" class="active"><span></span></a>
 </div>
 <div class="graph-container">
 <div id="graph-lines"></div>
 <div id="graph-bars"></div>
 </div>
 </div>
 <!-- end Graph HTML -->

 <div class="alert alert-warning fade collapse" role="alert" id="myAlert">
 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
 <span aria-hidden="true">×</span>
 <span class="sr-only">Close</span>
 </button>
 </div>

 <div class="row">
 <div class="col-lg-4 col-md-6">
 <div class="card card-inverse card-success">
 <div class="card-block bg-success">
 <div class="rotate">
 <i class="fa fa-tachometer fa-5x"></i>
 </div>
 <h6 class="text-uppercase">Total sales</h6>
 h1.display-4= '$' + total
 </div>
 </div>
 </div>
 <div class="col-lg-4 col-md-6">
 <div class="card card-inverse card-info">
 <div class="card-block bg-info">
 <div class="rotate">
 <i class="fa fa-clock-o fa-5x"></i>
 </div>
 <h6 class="text-uppercase">Clock sales</h6>
 h2.display-4= '$' + clock
 </div>
 </div>
 </div>
 <div class="col-lg-4 col-md-6">
 <div class="card card-inverse card-info">
 <div class="card-block bg-info">
 <div class="rotate">
 <i class="fa  fa-4x"></i>
 </div>
 <h6 class="text-uppercase">Watch sales</h6>
 h1.display-4= '$' + watch
 </div>
 </div>
 </div>
 </div>
 <!--/row-->

 <hr>

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
 script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
 script(src="javascripts/flot/jquery.flot.min.js")
 script.
  var watch_trend =!{JSON.stringify(trend_watch)}
  var clock_trend =!{JSON.stringify(trend_clock)}
  var total_trend =!{JSON.stringify(trend_total)}
 script(src="javascripts/scripts.js")