extends layout
block content
 <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
 <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">☰</button>
 <a class="navbar-brand" href="#">Shopicruit - Welcome back Admin</a>
 <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
 <ul class="nav navbar-nav pull-right">
 <li class="nav-item active">
 <a class="nav-link">Home <span class="sr-only">Home</span></a>
 </li>
 <li class="nav-item">
 <a class="nav-link">Inventory</a>
 </li>
 <li class="nav-item">
 <a class="nav-link">Settings</a>
 </li>
 </ul>
 </div>
 </nav>
        

 <div class="col-md-12 main top20">
 <div class="row">
 <div class="col-md-12">
 </div>

 <!-- Graph HTML -->
 <div class="col-md-12">
 <div id="graph-wrapper">
 <h6 class="text-uppercase">Inventory value</h6>
 <div class="graph-info">
 <p class="visitors">Product in inventory</p>
 <p class="returning">Clock product in inventory</p>
 <a href="#" id="bars"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
 <a href="#" id="lines" class="active"><i class="fa fa-line-chart" aria-hidden="true"></i></a>
 </div>
 <div class="graph-container">
 <div class='flot-x-axis flot-x1-axis'>
 <div class='flot-tick-label'>USD</div>
 </div>
 <div id="graph-lines"></div>
 <div id="graph-bars"></div>
 </div>
 <div class='flot-y-axis flot-y1-axis'>
 <div class='flot-tick-label'>2016 Monthly</div>
 </div>
 </div>
 </div>
 </div>
 <!-- end Graph HTML -->

 <div class="clearfix"></div>

 <div class="row top20">
 <div class="col-lg-4 col-md-6">
 <div class="card card-inverse card-success">
 <div class="card-block bg-success">
 <div class="rotate">
 <i class="fa fa-tachometer fa-5x"></i>
 </div>
 <h6 class="text-uppercase">Total sales</h6>
 h1.display-4= '$' + total
 </div>
 </div>
 </div>
 <div class="col-lg-4 col-md-6">
 <div class="card card-inverse card-info">
 <div class="card-block bg-info">
 <div class="rotate">
 <i class="fa fa-clock-o fa-5x"></i>
 </div>
 <h6 class="text-uppercase">Clock sales</h6>
 h2.display-4= '$' + clock
 </div>
 </div>
 </div>
 <div class="col-lg-4 col-md-6">
 <div class="card card-inverse card-info">
 <div class="card-block bg-info">
 <div class="rotate">
 <i class="fa  fa-4x"></i>
 </div>
 <h6 class="text-uppercase">Watch sales</h6>
 h1.display-4= '$' + watch
 </div>
 </div>
 </div>
 </div>
 <!--/row-->

 <hr>

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
 script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
 script(src="javascripts/flot/jquery.flot.min.js")
 script.
  var watch_trend =!{JSON.stringify(trend_watch)}
  var clock_trend =!{JSON.stringify(trend_clock)}
  var total_trend =!{JSON.stringify(trend_total)}
 script(src="javascripts/flot-setup.js")